<!DOCTYPE html>
<html>
    <head>
            <title>Game List App Page</title>
            <meta charset="UTF-8">
            <link href="form.css" rel="stylesheet" type="text/css">
            <script src="list.js"></script>
    </head>
    <body>
        <form action="/" method="POST">
            <h3>Enter your game here</h3>
            <label>Title of Game</label>
            <input type="text" name="title" required>
            <br>
            <label>Genre of the game</label>
            <input type="text" name="genre" required>
            <br>
            <button type="submit">Submit Game</button>
        </form>
    </body>
    <body2>
        <h1>My name is Rui Santos</h1>
        <h2>Here are my favorite things</h2>
        <label>1. I love playing basketball. <br>
        2. I like seeing my friends <br>
        3. I like passing my classes <br>
        4. I like working at my job <br>
        5. Boston Celtics are my favorite team <br>
        6. Rhode Island will always be my home <br>
        7. My college is awesome <br>
        8. Seeing my fellow students succeed <br>
        9. Conversations to learn new outlooks <br>
        10. Gears of war 1, 2 and 3 were my favorite games <br>
        </label>
        <main>
                <ol id="favoriteList">

                    </ol>
        </main>
        
    </body2>
    <a href="/topic1">Add To List</a>
    <a href="/topic2">Login</a>
    <a href="/signup">Sign up for site here</a>

    <body3>
        <h3>Why I chose this</h3>
        <p>I chose these things because they are pretty much all I really have. Gaming has been a part of my life for a long time because it was the only thing I called fun at the time. Watching others exceed was something I liked doing silently since I was younger because my friends always did well. Gears of war was my favorite game for a long time before the second and third one came out. they blew my mind with how severe the gunplay was and still are my favorites.</p>
    </body3>
</html>