<!DOCTYPE html>
<html lang="en">

        <head>
                <meta charset="UTF-8">
                
                <title>Second Topic</title>
            </head>

<body>
        <form>
        <label>Please insert your username</label>
        <br>
        <input type="text" required="true"></input>
        <br>
        <label>Password please</label>
        <br>
        <input type="text" required="true"></input>
        <br>
        <input type="submit"></input>
        <br>
        <br>
        <br>
        </form>
</body>

<a href="/">Back to List</a>

</html>