<!DOCTYPE html>
<html lang="en">

        <head>
                <meta charset="UTF-8">
                
                <title>First Topic</title>
        </head>
<body>

               <form action="/addtolist" method="POST">
                       <label>What do you like?</label>
                       <br>
                       <input name="Like" type="text" required></input>
                       <br>
                       <label>Why do you like it?</label>
                       <br>
                       <input name="Why" type="text" required></input>
                       <br>
                        <label>Did someone make it?</label>
                       <br>
                       <input name="Creator" type="text" required></input>
                       <br>
                       <input type="submit"></input>
                       <br>
                       <br>
                       <br>
               </form>
               

<a href="/">Back to List</a>
</body>


</html>